<!--article start-->
<div class="ub ub-ver ub-ac ub-pc">
    <div class="ub-f1 articleTop articleImage">
        <img v-bind:data-src="info.coverimg" width="100%" alt="" class="b-lazy">
    </div>
    <!--<div class="ub-img articlePlay"></div>-->
</div>

<div class="article">
    <div class="ub ub-ac ub-pc">
        <div class="articleTitle">{{cnt.title}}</div>
    </div>
    <div class="ub ub-pc ub-ac articleAuthor">
        <div class="articleAColor">作者&nbsp;:&nbsp;&nbsp;<span class="author">{{info.userinfo.uname}}</span></div>
        <div class="articleMarginLR">
            <span>{{info.mins}} </span> min&nbsp;read
        </div>
        浏览&nbsp;:&nbsp;&nbsp;<span>{{info.views}}</span>
    </div>
    <hr class="minHr">
    <div class="articleDes"></div>
    <div class="articleContent">
        <div v-if="info.html">{{{info.html}}}</div>
        <div v-if="info.text">{{{info.text}}}</div>
    </div>
    <div class="more ub ub-ver ub-ac uhide">
        <div>查看全部</div>
        <div class="ub-img moredown"></div>
    </div>
</div>
<!--article end-->

<!-- 评论组件 -->
<comment-cpt></comment-cpt>
<!-- 分享组件 -->
<share-cpt></share-cpt>