<!--article start-->
<div class="ub ub-ver ub-ac ub-pc">
    <div class="ub-f1 article-top">
        <!--<img src="img/article-top.png" width="100%" alt="">-->
    </div>
    <div class="ub-img article-play"></div>
</div>

<div class="article">
    <div class="ub ub-ac ub-pc">
        <div class="article-title">{{title}}</div>
    </div>
    <div class="ub ub-pc ub-ac paddT fontSize fontColor">
        <div class="">
            作者:<span>Lioncatjune</span>
        </div>
        <div class="marginL">
            <span>1 min</span>read
        </div>
        <div class="marginL">
            浏览:<span>5493</span>
        </div>
    </div>
    <div class="marginT ub-ac ub-pc ub">
        <div class="ub widTH heigHT bgColor">
        </div>
    </div>
    <div class="article-des">"我们难以希求用高效简洁的语言概括这部伟大的小说中的任何一个任务,哪怕一个细节"</div>
    <div class="article-content">
        <p>记得当初
            《廊桥遗梦》在美国上映的时候,我还是个小屁孩,当时看锅内媒体提及本片时,都是一副生怕被这部"美化婚外恋"的片子误导人民的架势.那时的我从小受类似教育多年,但凡看到文艺作品中有婚外恋情节,无不深深同情被戴帽者,对偷人者深恶痛绝.渐渐地,怀疑开始了,伴随着社会意识的变化,对于婚外恋,我也认识到它没有那么简单,就如今天再看当时由于在媒体的道德批判下,我简直不屑的《廊桥遗梦》,感觉更是不同寻常.
        </p>
        <p>将《廊桥遗梦》看作一部"美化婚外恋"的电影是粗俗的,将《廊桥遗梦》看作一部"和谐社"</p>
        <!--<img src="img/article-content.png" alt="" width="100%">-->
        <p>所以,婚姻制度以及其配套道德体系来了,我需要它来将认可?搬到一起住不拉倒了,那是因为社会</p>
    </div>
    <div class="more ub ub-ver ub-ac ub-pc">
        <div>查看更多</div>
        <div class="ub-img moredown"></div>
    </div>
</div>
<!--article end-->

<div class="common-space ub">
</div>

<!--commend strat-->
<div class="comment">
    <div class="ub ub-ver comment-title">
        <div class="fontSize2 fontColor2">热门评论</div>
        <div class="fontSize1 fontColor1">HOT COMMENTS</div>
    </div>
</div>
<!--commend end-->

<!--hot-share start-->
<!--hot-share end-->

<!--footer start-->
<div class="footer uhide">
    <div class="ub ub-ac paddA marginT bgColor">
        <div class="ub-f1">片刻:世界很美,而你正好有空</div>
        <div class="ub borderA paddA1 borderR1">片刻APP</div>
    </div>
</div>