<!--topic start-->
<div class="topic">
    <div class="ub">
        <div class="topicMarks ub-img"></div>
        <div class="joinPerson"><span class="joinTopicNum"></span>人&nbsp;参与</div>
    </div>
    <div class="topicTitle">写下你最近单曲循环的歌曲+此刻的心情</div>
    <div class="ub ub-ac">
        <div>
            <img src="" alt="" class="commentUserIcon topicUserIcon">
        </div>
        <div class="topicAdmin"></div>
        <div class="ub-f1"><span class="topicType">楼主</span></div>
    </div>
    <hr class="topicHr">
    <div class="topicContent">
    </div>
    <div class="more ub ub-ver ub-ac uhide">
        <div>查看全部</div>
        <div class="ub-img moredown"></div>
    </div>
</div>
<!--topic end-->
