<!--topic start-->
<div class="topic">
    <div class="ub">
        <div class="topicMarks ub-img"></div>
        <div class="joinPerson"><span>{{topicUsers}}</span>人&nbsp;参与</div>
    </div>
    <div class="topicTitle">{{title}}</div>
    <div class="ub ub-ac">
        <div>
            <img v-bind:src="userinfo.icon" alt="" class="commentUserIcon">
        </div>
        <div class="topicAdmin">{{userinfo.uname}}</div>
        <div class="ub-f1"><span class="topicType">楼主</span></div>
    </div>
    <hr class="topicHr">
    <div class="topicContent">
        {{{html}}}
    </div>
    <div class="more ub ub-ver ub-ac uhide">
        <div>查看全部</div>
        <div class="ub-img moredown"></div>
    </div>

</div>
<!--topic end-->